<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
        body{
            margin: 5px;
            padding: 5px;
        }
        .my-post { background-color: #e2b6fb; }
        .other-post { background-color: #a7e8bd; }
    </style>
</head>
<body>
    <div style="display: flex;flex-direction: row;align-items: center;justify-content: center;background-color: hsl(278, 100%, 83%);">
        <img src="<%= user.imagePath %>" alt="image" style="width: 100px;height: 100px;border-radius: 50%;"/><br><br>
        <h1>Hello👋, <%= user.name %></h1> <br><br>
        <a href="/posts/mine" style="margin-left: 40%;"><button>Your Posts</button></a><br><br>
        <a href="/posts/new"><button>New Post</button></a><br><br>
        <a href="/user/logout"><button>Logout</button></a>
    </div>
    <hr>
    <h1 style="text-align: center;">Feed😎</h1>
    <%if(posts.length===0){%>
        <p style="text-align:center;">No posts yet 😔</p>
    <%}else{%>
        <%posts.forEach((p)=>{%>
            <div style="position: relative;" class="<%= p.email === user.email ? 'my-post' : 'other-post' %>">
                <h3><%=p.title%></h3>
                <p><%=p.description%></p>
                <%if(p.imagePath){%>
                    <img src="<%= p.imagePath %>" style="width:250px;height:250px;"/>
                <%}%>
                <form action="/posts/<%=p._id%>/like" method="post">
                    <button style="margin: 5px;">
                        <% if(p.likes.some(like=>like.toString()===user._id.toString())){ %>
                            Liked❤️
                        <%}else{%>
                            Like❤️
                        <%}%>
                    </button>
                </form>
                <span style="position: absolute;bottom: 0;right: 0; padding: 5px;"><%=p.likes.length%> Likes</span>
            </div>
            <hr>
        <%})%>
    <%}%>

</body>
</html>